
// * {
//   box-sizing: border-box;
// }

.lineBox {
  border: 1px solid black;
}

.search {
  margin: 15px 5px;
}

.Hero {
  .hero-body {
    background-image: url('https://cdn.londonandpartners.com/visit/general-london/areas/62997-640x360-tube-sign.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .h1 {
      color: red;
      font-style: italic;
    }
  }
}

$color-yellow: #ffd539;
$color-grey: #efefef;

// .StationsIndex {
// 	.card {
// 		display: flex;
// 		flex-direction: column;
// 		height: 100%;
// 	}
// 	.card-header {
// 		background-color: lighten(#ffd539, 10%);
// 	}
// 	.card-image img {
// 		width: auto;
// 		height: 300px;
// 		margin: 0 auto;
// 		padding: 40px 20px;
// 	}
// 	.card-content {
// 		border-top: 1px solid $color-grey;
// 	}
// }